.innpv-barslider {
  width: 80px;
  margin: 20px 0 20px 10px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}
.innpv-barslider:hover .innpv-barslider-bar {
  opacity: 1;
}
.innpv-barslider-barwrap {
  height: 100%;
  width: 35px;
  margin: 0 auto;
  background-color: #dcdcdc;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.innpv-resizable-barslider {
  width: 100%;
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.innpv-barslider-bar {
  width: 100%;
  height: 100%;
  background-color: #449dd1;
  opacity: 0.6;
  cursor: row-resize;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.innpv-barslider-limit {
  width: 100%;
  background: repeating-linear-gradient(45deg, hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.1) 8px, hsla(0, 0%, 0%, 0.1) 8px, hsla(0, 0%, 0%, 0.1) 16px);
}
.innpv-contextmarker {
  width: 22px;
  height: 18px;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 1px;
  margin-left: 10px;
  cursor: pointer;
}
.innpv-contexthighlight-guttermarker {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  cursor: pointer;
}
.innpv-contexthighlight-guttermarker > div {
  display: block;
  content: '';
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #449dd1;
  transition-property: opacity, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  opacity: 0.5;
}
.innpv-contexthighlight-guttermarker:hover > div {
  opacity: 1;
}
.innpv-contexthighlight-guttermarker.innpv-contexthighlight-guttermarker-inactive > div {
  background-color: #777;
}
atom-overlay.innpv-contexthighlight-overlay {
  z-index: 1 !important;
  margin-top: -21px;
}
.tab-bar {
  z-index: 6;
}
.innpv-contextmarker-displaywrap {
  position: absolute;
  top: 9px;
  left: 20px;
  transform: translateY(-50%);
  font-family: system-ui;
  font-size: 12px;
}
.innpv-contextmarker-display {
  position: relative;
}
.innpv-contextmarker-displaycontent {
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}
.innpv-contextmarker-displaypointer {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #fff;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 50%;
  left: -15px;
  margin-top: -10px;
}
.innpv-contextmarker-barwrap {
  display: flex;
  justify-content: space-between;
}
.innpv-contextmarker-barlabel {
  width: 70px;
  text-align: left;
}
.innpv-contextmarker-bararea {
  height: 18px;
  background-color: #eee;
  position: relative;
  overflow: hidden;
  flex: 1;
  border-radius: 3px;
}
.innpv-contextmarker-bar {
  height: 100%;
  background-color: #777;
}
.innpv-contextmarker-barnum {
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 18px;
}
.innpv-contextmarker-perfview {
  margin-bottom: 15px;
}
.innpv-contextmarker-perfview > div:last-child {
  margin-top: 5px;
}
.innpv-contextmarker-perfview.innpv-contextmarker-faded {
  opacity: 0.5;
}
.innpv-contextmarker-perfview-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.innpv-contextmarker-displayinfo {
  margin-top: 10px;
}
.innpv-elastic-inner {
  height: 100%;
  transition-property: padding-top, padding-bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.innpv-error {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.innpv-error-inner h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.innpv-error-inner p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1em;
}
.innpv-get-started {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.innpv-get-started-text {
  width: 100%;
}
.innpv-get-started-text h1 {
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.innpv-get-started-text p {
  text-align: center;
}
.innpv-get-started-buttons {
  text-align: center;
}
.innpv-get-started-options {
  width: 100%;
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 20px;
}
.innpv-get-started-host-port-fields {
  display: flex;
  justify-content: space-between;
}
.innpv-get-started-host-port-fields p {
  margin: 0;
  text-align: left;
}
.innpv-get-started-host {
  width: 75%;
}
.innpv-get-started-port {
  width: 20%;
}
.innpv-get-started-project-root {
  margin-top: 10px;
}
.innpv-get-started-project-root p {
  margin: 0;
}
.innpv-get-started-project-root-row {
  display: flex;
  justify-content: space-between;
}
.innpv-get-started-project-root-row input {
  margin-right: 5px;
}
.innpv-memory {
  flex-grow: 1;
  flex-basis: 0;
}
.innpv-numericdisplay {
  text-align: center;
}
.innpv-numericdisplay-number {
  font-size: 2em;
  margin: 5px 0;
}
.innpv-numericdisplay-top {
  font-variant: small-caps;
  font-weight: bold;
}
.innpv-numericdisplay-top,
.innpv-numericdisplay-bottom {
  font-size: 1em;
}
.innpv-perfbar-wrap {
  opacity: 0.75;
  transition-property: opacity, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.innpv-perfbar-wrap.innpv-perfbar-active {
  opacity: 1 !important;
}
.innpv-perfbarcontainer-focusing .innpv-perfbar-wrap {
  opacity: 0.25;
}
.innpv-perfbar-resizable {
  cursor: row-resize;
}
.innpv-perfbar-clickable {
  cursor: pointer;
}
.innpv-perfbar {
  height: 100%;
}
.innpv-line-highlight {
  background-color: hsla(0, 0%, 0%, 0.1) !important;
}
.innpv-blue-color-1 {
  background-color: #357586;
}
.innpv-blue-color-2 {
  background-color: #67bae0;
}
.innpv-blue-color-3 {
  background-color: #31659e;
}
.innpv-blue-color-4 {
  background-color: #a9bcd0;
}
.innpv-blue-color-5 {
  background-color: #5fafe1;
}
.innpv-green-color-1 {
  background-color: #19b571;
}
.innpv-green-color-2 {
  background-color: #88d498;
}
.innpv-green-color-3 {
  background-color: #4da167;
}
.innpv-green-color-4 {
  background-color: #a0e8af;
}
.innpv-green-color-5 {
  background-color: #38a700;
}
.innpv-untracked-color {
  background-color: #777;
}
.innpv-perfbarcontainer-wrap {
  display: flex;
  height: 70vh;
  /* overflow: auto; */
}
.innpv-perfbarcontainer {
  height: 100%;
  width: 25px;
  background-color: #fff;
  overflow: hidden;
}
.innpv-perfbarcontainer-inner {
  height: 100%;
  transition-property: margin-top;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.innpv-perfbarcontainer-labelcontainer {
  height: 100%;
  width: 20px;
  margin-left: 5px;
}
.innpv-perfbarcontainer-labelwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  border-bottom: 1px solid #777;
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.innpv-perfbarcontainer-labelwrap:first-child {
  border-top: 1px solid #777;
}
.innpv-perfbarcontainer-labelwrap::before {
  content: '';
  display: block;
  height: 1px;
  width: 15px;
}
.innpv-perfbarcontainer-label {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #777;
  font-size: 1em;
  white-space: nowrap;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.innpv-perfbarcontainer-clickable {
  cursor: pointer;
}
.innpv-perfbarcontainer-clickable:hover .innpv-perfbarcontainer-label {
  color: #333;
}
.innpv-perfhint {
  background-color: #eee;
  font-family: system-ui;
  color: #333;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 5px;
}
.innpv-perfhint .icon::before {
  margin-right: 0;
}
.innpv-perfhint-tooltip-bottom {
  transform: translate(-45%, 5px);
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(-45%, 1px);
  }
  to {
    opacity: 1;
    transform: translate(-45%, 5px);
  }
}
.innpv-perfhint-tooltip-bottom::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #eee;
}
.innpv-wrap {
  height: 100%;
  width: 350px;
}
.innpv-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.innpv-header {
  height: 2.5em;
  width: 100%;
  text-align: center;
  line-height: 2.5em;
  color: #111;
  border-bottom: 1px solid #eee;
}
.innpv-header .icon::before {
  font-size: 12px;
}
.innpv-contents {
  height: 100%;
  width: 100%;
}
.innpv-no-events {
  pointer-events: none;
  opacity: 0.5;
}
.innpv-contents-columns {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
.innpv-contents-subrows {
  display: flex;
  height: 70vh;
  width: 100%;
  flex-direction: column;
  transition-property: opacity;
  transition-duration: 0.3s;
  overflow: auto;
}
.innpv-contents-subrows .innpv-subpanel:first-child {
  border-bottom: 1px solid #eee;
}
.innpv-subpanel {
  display: flex;
  flex-direction: column;
}
.innpv-subpanel-content {
  display: flex;
  flex-grow: 1;
}
.innpv-subpanel-sidecontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.innpv-separator {
  height: 1px;
  width: 70%;
  background-color: #777;
  opacity: 0.2;
}
.innpv-perfbar-contents {
  display: flex;
  padding: 10px;
  border-right: 1px solid #eee;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.innpv-perfbar-contents > *:first-child {
  margin-right: 15px;
}
.innpv-statusbar {
  display: flex;
  justify-content: space-between;
  height: 2.5em;
  border-top: 1px solid #eee;
}
.innpv-statusbar-message {
  margin-left: 5px;
  line-height: 25px;
  color: #777;
}
.innpv-statusbar-loading {
  margin-right: 5px;
  line-height: 2em;
}
.innpv-statusbar-iconbar {
  display: flex;
}
.innpv-statusbar-icon {
  display: flex;
  align-items: center;
  color: #777;
}
.innpv-statusbar-icon .icon::before {
  font-size: 1em;
}
.innpv-clickable {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.2s;
}
.innpv-clickable:hover {
  color: #111;
}
.innpv-subheader {
  height: 3em;
  line-height: 3em;
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid #444444;
  padding: 5px 10px;
}
.innpv-subheader .icon::before {
  font-size: 1em;
  margin-right: 1px;
}
.innpv-throughput {
  flex-grow: 1;
  flex-basis: 0;
}
/* Bob */
@keyframes hvr-bob {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-4px);
  }
}
@keyframes hvr-bob-float {
  100% {
    transform: translateY(-4px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  animation-name: hvr-bob-float, hvr-bob;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}
/* Hang */
@keyframes hvr-hang {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(3px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    transform: translateY(3px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  animation-name: hvr-hang-sink, hvr-hang;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}

/**
BOOSTRAP MODIFIERS
**/

input[type=checkbox]:checked{
  background-color: #198754;
}